In [29]:
import os
import sys
import re
import time
import math
from datetime import timedelta
from datetime import timezone
from datetime import datetime
import json

# Third Party
import pandas as pd
import numpy as np
import requests

# PLOT
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set_theme()

In [30]:
n_round = 67

from dotenv import load_dotenv, find_dotenv
load_dotenv(find_dotenv())
PUBLIC_KEY = os.getenv("REMOTE_TEST_PUBLIC_KEY1")

curl -X POST "https://df-sql.oceandao.org/challenge/data" \
-H "Content-Type: application/json" \
-d '{"query": {"round": 51}}'

In [31]:
#response = requests.get(f"https://df-sql.oceandao.org/challenge/data/?round={n_round}")

payload = {"query": {"round": n_round}}
headers = {"Content-Type": "application/json; charset=utf-8"}
response =  requests.post('https://df-sql.oceandao.org/challenge/data',  data=json.dumps(payload), headers=headers)

In [32]:
json.dumps(payload)

'{"query": {"round": 67}}'

In [33]:
response

In [34]:
response.json()

[]

In [35]:
list_dict = response.json()
df = pd.DataFrame.from_dict(list_dict)
df

Empty DataFrame
Columns: []
Index: []

In [36]:
df = df.loc[df["nmse"]!=1]
df.sort_values(by="nmse", ignore_index=True, inplace=True)
df

KeyError: 'nmse'

In [ ]:
df[df["from_addr"].str.lower() == PUBLIC_KEY.lower()]

,from_addr,nft_addr,nmse,round
323,0xa6fb159f491ed6f33b077ee6e1d271b53ff2cb8b,0x8d21224867f51bdf21c29f93e3d78b7b4098053b,885.700012,66

In [ ]:
df["from_addr"].nunique()

717

In [ ]:
df[(df["nmse"] > 1) & (df["nmse"] < 1.529)]["from_addr"].nunique()

36

In [ ]:
df[(df["nmse"] < 1)]["from_addr"].nunique()

48

In [ ]:
df

,from_addr,nft_addr,nmse,round
0,0xbf405f33769399acb7e0581b9d315f8d9fd31b19,0x4387d4c9c2a1d60428c019daabdf307098c1d938,0.04653,66
1,0xb25e86e9dc32f87345104db7930ad0ce03001a1b,0xe649c550afb0f9f5c30651478b6f943a93553b6b,0.10290,66
2,0x949adb115a74ee28e55815a2f4b69615af912f4e,0x41dc6ddc04f5ab791e97e6d52045d3431cb80970,0.10590,66
3,0xc5e98f0868e31c3d8e5ed8c18fd720e957b87a71,0x2d0a2a86a0cdf09dedde7104fd125f8d485051ee,0.17010,66
4,0xa4f0e2439c4dab2f4e25c35c2aed164b9431fab4,0xe3649f45531fa799d639350ab264bf4821a4d201,0.18000,66
...,...,...,...,...
712,0x15a5eb1c8ed176e5c1dee4676b9ebf021898adab,0x42e198d4e9f777490d5e41c8a41bd78ab0ac928c,1110.00000,66
713,0xa539f3f1e1292fda4baa6c24239dbf31f551741c,0x70879c36ce86f9c1febb89800d66cce48595c9ff,1117.00000,66
714,0xd5e68ebb70caed22d77b33dcd00b680be703e374,0x1a079c733be75a0cfa3286eb0f502d12c8f8837a,1123.00000,66
715,0x3a301ee8e807f12032160a9c77648d90e9111b4c,0x6120a8919e35adb1ce8c52bf50d5bb43ce5951ac,1191.00000,66
716,0x299232ff89caa6baf66da01f32689d625ea7fefb,0x7488ea33cb848ed58fed26614a5cad923df2f1a9,1382.00000,66

In [ ]:
'''sns.histplot(
    data=df,
    x="nmse",  
    stat="probability", 
    kde=True, 
    color="r",
    label="TEST")
fig = plt.gcf()
ax = fig.gca()
ax.set_xlim([0,10])'''

'sns.histplot(\n    data=df,\n    x="nmse",  \n    stat="probability", \n    kde=True, \n    color="r",\n    label="TEST")\nfig = plt.gcf()\nax = fig.gca()\nax.set_xlim([0,10])'

In [ ]:
df[(df["nmse"] == 1)]["from_addr"].nunique()

0

In [ ]:
df[(df["nmse"] == 1)]["from_addr"].nunique() / df.shape[0]

0.0

In [ ]:
df[(df["nmse"] == 1)].shape[0]

0

In [ ]:
df.shape

(717, 4)

In [ ]:
df.describe()

              nmse  round
count   717.000000  717.0
mean    645.466056   66.0
std     448.733023    0.0
min       0.046530   66.0
25%       4.695000   66.0
50%     912.099976   66.0
75%     987.099976   66.0
max    1382.000000   66.0

In [ ]:
n_part = df["from_addr"].nunique()
nmse_ = df[df["from_addr"].str.lower() == PUBLIC_KEY.lower()]["nmse"].values[0]
ranking = df[df["nmse"] < nmse_]["from_addr"].nunique() + 1
print(f"ROUND # {n_round}")
print("nmse : ", nmse_)
print(f'RANKING :  {ranking} / {n_part}')
print(f"Top {round(100*ranking/n_part,2)} % ")

ROUND # 66
nmse :  885.700012207
RANKING :  323 / 717
Top 45.05 %